.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
  font-size: 2vw;
}

.table {
  display: flex;
  flex-direction: column;
  color: #e8b01e;
  gap: 0.3vw;
  position: relative;
}

.row {
  display: grid;
  gap: 0.3vw;
  grid-template-columns: 10vw repeat(4, 6vw);
  font-size: 24px;
  height: 49px;
  position: absolute;
  transition: all 1s ease-out;
}

.row.invisible {
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5vw;
  margin-right: 1vw;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  border: 2px solid #e8b01e;
  background-color: #0e254c;
  color: #e8b01e;
}

.sum {
  font-size: 32px;
  color: #fff;
}

.green {
  border: 2px solid #4de81e;
}

.win {
  background-color: #e8b01e;
  color: #0e254c;
}