/* import null style */
@import "nullstyle.css";

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    align-items: center;
    gap: 6vw;
    padding: 4vh 6vw;
    background-color: #163669;
    background-image: url(./assets/bg.png);
    background-size: contain;
}

.controls {
    font-size: 2vw;
    width: 100vw;
    height: 100vh;
    background-color: #163669;
    color: #e8b01e;
}

.controls .count {
    padding: 1vw;
}

.controls .count .item {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.controls .count .item * {
    cursor: pointer;
}

.controls .count .item label {
    width: 100px;
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 2.5vw;
    color: #e8b01e;
    text-align: center;
}

.bank .sum {
    font-size: 36px;
    white-space: nowrap;
    color: #fff;
}

.gold {
    color: #e8b01e;
}